---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<ul class="space-y-4">
  {items.map((item) => (
    <li class="flex items-start gap-3">
      <span class="mt-0.5 text-lg text-red-400">&times;</span>
      <span class="text-neutral-300">{item}</span>
    </li>
  ))}
</ul>
